<!-- <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"> -->
<div class="container text-center">
  <div *ngIf="success?.length >0 ;">
    <div class="alert alert-success" role="alert">
      {{success}}
    </div>
  </div>
  <h3 class="font-italic font-weight-normal">My Basket</h3>

  <div class="row" *ngIf="basketItems?.length > 0 ; else noItems">
    <div class="col-12 col-md-6 col-lg-3 d-flex pt-2 pb-2" *ngFor="let item of basketItems">

      <div class="card">
        <div class="row no-gutters m-1">
          <div class="col-auto">
            <img src="{{ item.mobileImageUrl}}" class="img-thumbnail" alt="">
          </div>
          <div class="col">
            <div class="card-block pt-2 text-info">
              <a [routerLink]="['/mobilePhone', item.mobileId]" class="card-text font-weight-light">{{item.mobileName}}</a>
              <p class="card-text">£{{item.mobilePrice}}</p>
              <a class="btn btn-primary text-white" (click)="showConfirmation(item)">Buy Now</a>
            </div>
          </div>
        </div>
        
        <div class="card-footer text-muted mt-2">
          <span class="float-left ml-1">
            <a (click)="deleteItem(item)" class="text-muted">
              <span class="">
                <i class="fas fa-trash-alt"></i>
              </span>
            </a>
          </span>
          <span class="float-right">
            On Stock!
          </span>
        </div>
        <!-- 
        <div class="card-footer text-muted ">
          <span class="float-left mt-2">
            <del class="grey">$199</del>
            <span class="ml-1 ng-binding">$150</span>
          </span>
          <span class="float-right ng-scope" ng-if="quantity > 1">
            <a href="#!" class=" btn btn-info">
              <span>
                <i class="lnr lnr-cart"></i>
              </span> Add to Cart</a>
          </span>
        </div> -->

      </div>

      <!-- <div class="card">
        <div class="card-header text-primary" [routerLink]="['/mobilePhone', item.mobileId]">
          {{item.mobileName}}
        </div>
        <div class="view overlay">
          <img class="img-thumbnail" src="{{ item.mobileImageUrl}}" alt="Card image cap">
        </div>
        <div class="card-body">
          <span class="text-primary font-weight-light ">£{{item.mobilePrice}}</span>
          <div>
            <a class=" btn btn-info text-white" [routerLink]="['/mobilePhone', item.mobileId]">Buy Now
            </a>
          </div>
        </div>
      </div> -->

    </div>
  </div>
  <ng-template #noItems>
    <div class="container">
      <h5 class=display-4>No items =(</h5>
    </div>
  </ng-template>
</div>
<!-- </div> -->


<div class="modal fade" tabindex="-1" role="dialog" id="confirmationModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card" *ngIf="itemToOrder">
          <div class="row no-gutters m-1">
            <div class="col-auto">
              <img src="{{ itemToOrder.mobileImageUrl}}" class="img-thumbnail" alt="">
            </div>
            <div class="col">
              <div class="card-block pt-2 text-info">
                <a class="card-text text-center font-weight-light">{{itemToOrder.mobileName}}</a>
                <p class="card-text text-center">£{{itemToOrder.mobilePrice}}</p>
                <!-- <a class="btn btn-primary text-white" (click)="show(item)">Buy Now</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="orderPhone()">Place Order</button>
      </div>
    </div>
  </div>
</div>
<app-re-login></app-re-login>
