<div class="detailPageBody bg-light">
  <div class="container bg-white">
    <div class="row p-3">
      <div class=" col-md-6">
        <div *ngIf="success?.length >0 ;">
          <div class="alert alert-success" role="alert">
            {{success}}
          </div>
        </div>

        <div class="imagePlaceHolder text-center">
          <img src="{{phone.imageUrl}}">
        </div>
      </div>
      <div class=" col-md-6 ">
        <p class="font-weight-bold text-left text-uppercase">{{phone.mobileName}}</p>
        <p class=" font-weight-bold text-left text-uppercase">Size :
          <span class="font-weight-light text-capitalize">
            {{selectedSizeVariant}}
          </span>
        </p>
        <span class="btn btn-outline-primary font-weight-light text-capitalize mr-1" *ngFor="let size of sizeVariant"
          (click)="loadSelectedSize(size)">
          {{size}}
        </span>
        <p class=" font-weight-bold text-left text-uppercase">Color :
          <span class="font-weight-light text-capitalize">
            {{selectedColorVariant}}
          </span>
        </p>
        <span class="btn btn-outline-primary font-weight-light text-capitalize mr-1 " *ngFor="let color of colorVariant"
          (click)="loadSelectedColor(color)">
          {{color}}
        </span>
        <p class="font-weight-bold text-left text-uppercase">Availability :
          <span class="font-weight-light text-capitalize ">{{phoneAvailability}}</span>
        </p>
        <p class="font-weight-bold text-left text-uppercase">Price
          <span class="font-weight-light text-capitalize">
            £{{phonePrice}}
          </span>
        </p>
        <button type="button" class="btn btn-primary font-weight-bold text-center text-uppercase shadow-lg" (click)="addToBasket()">Add
          to basket</button>
        <button type="button" class="btn btn-primary font-weight-bold text-center text-uppercase shadow-lg" (click)="addToWishList(phone.mobileId)">Add
          to wish list</button>
      </div>
    </div>
    <div class="shadow p-3 mb-5 bg-light rounded">
      <p class=" font-weight-light text-capitalize text-center" style="font-size:1.5rem;">Top Spec</p>

      <div class="row text-center p-2">
        <div class="col">
          <i class="fas fa-camera fa-2x"></i>
          <p class="text-monospace font-weight-bold text-info">Camera</p>
          <p class="font-weight-light"> {{mobTopSpec.camera}}</p>
        </div>
        <div class="col">
          <i class="fas fa-battery-three-quarters fa-2x"></i>
          <p class="text-monospace font-weight-bold text-info">Battery</p>
          <p class="font-weight-light"> {{mobTopSpec.battery}}</p>
        </div>
        <div *ngIf="android; else ios" class="col">
          <i class="fab fa-android fa-2x"></i>
          <p class="text-monospace font-weight-bold text-info">OS</p>
          <p class="font-weight-light"> {{mobTopSpec.os}}</p>
        </div>
        <div class="col">
          <i class="fas fa-hdd fa-2x"></i>
          <p class="text-monospace font-weight-bold text-info">Storage</p>
          <p class="font-weight-light"> {{mobTopSpec.storage}}</p>
        </div>
        <div class="col">
          <i class="fas fa-mobile-alt fa-2x"></i>
          <i class="far fa-mobile-android "></i>
          <p class="text-monospace font-weight-bold text-info">Display</p>
          <p class="font-weight-light"> {{mobTopSpec.display}} </p>
        </div>
      </div>
    </div>
    <ng-template #ios>
      <div class="col col3">
        <i class="fab fa-apple fa-2x"></i>
        <p class="text-monospace font-weight-bold text-info">OS</p>
        <p class="font-weight-light"> {{mobTopSpec.os}} </p>
      </div>
    </ng-template>


    <div class="shadow p-3 mb-5 bg-light rounded">
      <p class="font-weight-light text-capitalize text-center" style="font-size:1.5rem;">Full Spec</p>
      <table class="table table-striped">
        <!-- <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead> -->
        <tbody>
          <tr *ngFor="let spec of fullSpec; let i = index">
            <th scope="row">{{i}}</th>
            <td style="color:rgba(58, 133, 191, 0.75);">{{spec}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-re-login></app-re-login>